.App{
  min-height: 100vh;
  background-color:#FEFBF5

}
.inner{
  width: 96%;
  display: flex;
  align-items: center;
}
a,h2,h3,p{
  font-family: 'Stick', sans-serif;
  color: #2f506a;
}
.header-title{
  display: flex;
  align-items: center;
}

.blogLogo{
  font-family: 'DotGothic16', sans-serif;
}
.fa-guitar:hover{
  cursor: pointer;
  filter: opacity(69%);
  
}
.fa-guitar{
  position: absolute;
  left: 0;
  font-size: 2rem;
  
  color:#2f506a; 
}


.header{
  height: 70px;
  width: 100%;
  background-color: #dce4e9;
  display: flex;
  justify-content: center; 
}


ul {
  list-style: none;
  
}
.header-list{
  display: flex;
  height: 100%;
  align-content: center;

}
.header-list > li{
  padding: 20px;
  text-decoration: none;
}


.header-list > li:hover{
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  cursor:pointer;
  
}
li > a:hover{
  border-bottom: 4px solid #fff;
}








.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dce4e9;
  height: 100px;

  
}

.hamburgerIcon{
  display: none;
 position: absolute;
 top:17px;
 right: 20px;
 height: 35px;
}


.line{
  
  background-color:#2f506a; 
  height: 5px;
  width: 30px;
  margin: 5px 0;
  border-radius: 10px;
}
.link:hover{
  cursor: pointer;
  filter: opacity(69%);
}

#input{
 display: none;
}
.hamburger-list{
  
  background-color:#DBE4E8;
  height: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
  }

  .hamburgerMenu{
    display: none;
    width: 100%;
    z-index: 2;
   

  }
#input:checked ~ .hamburgerMenu{
  display:block;
  position: absolute;
  top: 70px;
 
}

@media screen and (max-width:869px) { 
  .header-list{
    display: none;
  }
  .hamburgerIcon{
    display: block;
  }
 
}

.hamburger-list >li{

  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hamburger-list >li:hover{
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  background-color: #e5e8e9;
  filter: opacity(80%);
}

.overlay{
  display: none;
  position:fixed;
  top:70px;
  left:0;
  width:100%;
  height:100vh;
  background-color:rgba(0,0,0,.6);
  z-index:1;
}


#input:checked ~ .overlay{
  display: block;
}

.mannaka{
  width: 80vw; 
  max-width: 100%;
  margin: 40px auto;
}


.song p{
  color:black;
  text-indent: 1em;
}





